{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        },
        "debug": false,
        "useBuiltIns": true,
        "include": []
      }
    ],
    "stage-0"
  ],
  "plugins": []
}